<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head'%>
  </head>
  <body>
    
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/header' %>
    <%= render 'layouts/footer'%>
  </body>
 
</html>